html, body {
    font-size: 15px;
}
body{
    color: #555555;
    font-family: "Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
}
body .segment {
    padding-bottom: 30px !important;
}
*::-moz-selection {
    background-color: #ffffcc;
    color: #555555;
}
.ui.tiered.menu .sub.menu .active.item{
    box-shadow: 0 -0.2em 0 inset !important;
}