<template name="agents">
    <div class="row">
        <div class="column">
<!--            <div class="ui huge breadcrumb dividing">
                <a class="section">Nhân viên</a>
                <i class="right arrow icon divider"></i>
                <a class="active section">Danh sách</a>
            </div>-->
            <div class="ui menu">
                <div class="item">
                    <div class="ui icon labeled teal button" id="btnAddUser"><i class="user icon"></i>Thêm nhân viên</div>
                </div>
            </div>
            <table class="ui table segment">

            </table>
        </div>
    </div>
</template>

<template name="agents_addNew">
    <div class="row">
        <div class="column">
            <div class="ui menu">
                <div class="item">
                    <div class="ui icon labeled red button" id="btnBack"><i class="backward icon"></i>Quay lại</div>
                </div>
                <div class="item">
                    <div class="ui active icon labeled button"><i class="user icon"></i>Thêm nhân viên</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui two column row">
        <div class="column">
            <div class="ui fluid form">
                <div class="two fields">
                    <div class="field">
                        <label>Họ và đệm</label>
                        <input type="text" placeholder="Nguyễn Văn"/>
                    </div>
                    <div class="field">
                        <label>Tên</label>
                        <input type="text" placeholder="An"/>
                    </div>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="text" class="email-field" placeholder="abc@xyz.com"/>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Username</label>
                        <input type="text" placeholder=""/>
                    </div>
                </div>
                <div class="ui blue submit button">Submit</div>
            </div>
        </div>
    </div>
</template>